.produto-comprar{
    background-color: #f7f7f7;
    height: 330px;
    padding: 0 20%;
}
.compra{
    border: 1px solid #343a40;
    padding: 10px;

}

@media (max-width: 900.98px) {
    .pagamento{
        width: 100px;
        padding: 5px;
    }